* {
  padding: 0;
  margin: 0;
  font-family: "Saira";

  /* Custom */
  --color-blue: #16274c;
  --color-red: #dc1b32;
  --color-white: #ffffff;
  --color-white-transparent: #ffffff9d;
  --color-light-gray: #e8e8e8;
  --color-dark-gray: #404040;
}
/* 
.active{
  background-color: var(--color-dark-gray) !important;
} */

/* Text Color */
.color__light {
  color: var(--color-white);
}
.color__blue {
  color: var(--color-blue);
}
.color__light__gray {
  color: var(--color-light-gray);
}
.color__gray {
  color: var(--color-dark-gray);
}
.color__red {
  color: var(--color-red);
}

/* Background Color */
.bg__light {
  background-color: var(--color-white);
}
.bg__light__transparent {
  background-color: var(--color-white-transparent);
}
.bg__blue {
  background-color: var(--color-blue);
}
.bg__light__gray {
  background-color: var(--color-light-gray);
}
.bg__gray {
  background-color: var(--color-dark-gray);
}
.bg__red {
  background-color: var(--color-red);
}




.header__top {
  background-color: var(--color-blue);
  height: 52px;
}

.header__icon {
  color: var(--color-white);
}

.header__btn {
  background-color: var(--color-red);
  font-size: 16px;
  width: 213px;
  height: 47px;
  color: var(--color-white);
  border: none;
  border-radius: 12px;
}

.nav__icon{
  width: 20px;
  height: 20px;
  margin: auto 3px;
}
.nav__icon img{
  width: 100%;
  height: auto
}

.header__top__text{
  font-size: .850rem;
}

#top__mobile{
  display: none;
}
#top__desktop {
  display: block;
}

/* @media (max-width: 480px) { */
@media (max-width: 770px) {
  #top__desktop {
    display: none;
  }
  #top__mobile {
    display: block;
  }
}

/* Hero SEction */
.hero__section {
  height: 100dvh;
  display: flex;
  align-items: center;
  padding-top: 200px;
  background: linear-gradient(to right, #ebebeb, transparent 40%);
  /* background: linear-gradient(to right, blue 10%, transparent); */
}

.hero__section_hero_text {
  font-size: 34px;
}

.hero__section_text {
  font-size: 17px;
}

.hero__section__action {
  background-color: var(--color-red);
  font-size: 16px;
  width: 225px;
  height: 62px;
  color: var(--color-white);
  border: none;
  border-radius: 12px;
}

/* Welcome Section */
.welcome__section {
  /* height: 40dvh; */
  padding: 30px;
  /* background-color: red; */
}

.welcome__heading h5 {
  font-size: 32px;
}
.welcome__heading p {
  font-size: 20px;
}

.welcome__text {
  font-size: 17px;
}

.welcome__readmore {
  margin-top: 50px;
}
.welcome__readmore a {
  color: var(--color-red) !important;
  text-decoration: none;
}
.welcome__readmore a span {
  color: var(--color-red) !important;
}

/* Our Service  */
.service__wrapper {
  margin-top: 30px;
  /* height: 100dvh */
}

.service__heading {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.service__cards__wrapper {
  margin-top: 200px;
}

/* .service__card{
    overflow: hidden;
} */

.service__card__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__card__image img {
  width: 100%;
  height: auto;
}

.service__text p {
  font-size: 24px;
  color: var(--color-blue);
}

/* Video Section */
.video__section__wrapper {
  display: flex;
  align-items: center;
}
.video__action__btn {
  background-color: var(--color-red);
  font-size: 16px;
  width: 213px;
  height: 62px;
  color: var(--color-white);
  border: none;
  border-radius: 12px;
  border: 1px solid #000000;
  margin: auto;
}

.video__title {
  font-size: 2rem;
  color: var(--color-blue);
}

.video__section {
  position: relative;
  height: 80dvh;
}

.video__wrapper {
  width: 100;
  margin-top: 80px;
  position: absolute;
  bottom: -rem;
  left: 0;
  right: 0;
}

.video__wrapper img {
  width: 100%;
  height: auto;
}

/* Pills & Image Carousel */
.bg__text__gray {
  background-color: var(--color-light-gray);
}

#carousel__wrapper__mobile {
  display: none;
}
.carousel__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.carousel__image__wrapper {
  width: 25%;
  display: flex;
  align-items: stretch;
  /* justify-content: center; */
  background-color: red;
}

.carousel__image__wrapper img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  #carousel__wrapper__desktop {
    display: none;
  }
  #carousel__wrapper__mobile {
    display: block;
  }
}

/* Sponsorship */
.sponsor__section {
  padding: 4rem;
}
.sponsor__list {
  margin-top: 100px;
}
.sponsor__logo {
  width: 150px;
  margin: 4px;
}
.sponsor__logo img {
  width: 100%;
  height: auto;
}

/* Discount */
.discount__inner {
  padding-top: 4rem;
}

.discount__inner .wrapper {
  /* width: 423px;
  height: 569px; */
}

.discount__inner .wrapper img {
  width: 100%;
  height: auto;
}

.discount__inner h4 {
  color: var(--color-blue);
  font-size: 32px;
}
.discount__inner p {
  font-size: 54px;
  color: var(--color-red);
}
.discount__inner span {
  font-size: 20px;
  color: var(--color-blue);
}
.discount__action__btn {
  background-color: var(--color-red);
  font-size: 16px;
  width: 319px;
  height: 62px;
  color: var(--color-white);
  border: none;
  border-radius: 12px;
  margin: auto;
}






/* Estimate */
.estimate__form__wrapper {
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 818px;
  height: 758px;
  background-color: #ebebeb;
  border-radius: 10px;
  box-shadow: 1px 100px 100px #c2c2c2;
  height: max-content;
}

.estimate-form {
  padding: 5rem;
}

.estimate-form h2 {
  font-weight: bold;
}

.estimate-form input,
textarea {
  background-color: var(--color-white);
  padding: 10px;
  width: 100% !important;
  border: none;
  border-radius: 8px;
}

.estimate-form .btn {
  background-color: var(--color-red);
  width: 100%;
  color: #fff;
  height: 56px;
}
.estimate-form .btn:hover {
  background-color: #c9302c;
  color: #fff;
}

@media (max-width: 480px) {
  .estimate__form__wrapper {
    margin: auto;
    /* border-radius: 10px; */
    /* box-shadow: 1px 100px 100px #c2c2c2; */
  }
}












/* About */
.about__inner__wrapper {
  padding: 7rem 4rem 4rem 4rem;
}

.about__name {
  color: var(--color-blue);
  font-size: 32px;
}
.about__role {
  font-size: 22px;
}
.profile__image__wrapper img{
  filter: grayscale(1);
}











/* Testimonials */
.quote__wrapper {
  width: 40px;
}

.testimonial__item__wrapper {
  max-width: 629px;
  margin: auto;
  margin-top: 90px;
}

.testimonial__star__rating {
  width: 50px;
}

.testimonial__image__wrapper {
  background-color: var(--color-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  padding: 15px;
  
}









/* Contact  */
.contact__form {
  /* max-width: 818px; */
  /* height: 758px; */
  width: 100%;
}

.contact__form h2 {
  font-weight: bold;
}

.contact__form input,
textarea {
  background-color: var(--color-white);
  padding: 10px;
  width: 100% !important;
  border: none;
  border-radius: 8px;
}

.contact__form .btn {
  background-color: var(--color-red);
  width: 100%;
  color: #fff;
  height: 56px;
}
.contact__form .btn:hover {
  background-color: #c9302c;
  color: #fff;
}


.contact__detail__item ion-icon, span, p{
  color: var(--color-blue);
}
.contact__detail__item ion-icon{
  font-size: 20px;
}
.contact__detail__item span, p{
  font-size: 14px;
}

.map__wrapper{
  width: 100%;

}

.map__wrapper img{
  width: 100%;
  height: auto;
}




footer{
  padding: 4rem;
  background: linear-gradient(to bottom, #16274C, #010817);
}